@media (max-width: 576px) {
}
@media (max-width: 768px) {
}
@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
  .mapouter {
    width: 100% !important;
  }
  .gmap_canvas {
    width: 100% !important;
  }
}

@media (max-width: 992px) {
  .Header-title {
    font-size: 220%;
  }
  .cards {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }
  .card {
    width: 100%;
  }
  .mid_image div {
    flex-direction: column;
    padding: 10% 0;
  }
}

@media (max-width: 768px) {
  .header_nav {
    display: none;
  }
  .responsive_btn,
  #respCheck {
    display: none;
  }
  .responsive_btn-svg {
    display: block;
  }
  .footer_all {
    flex-direction: column;
    margin: auto 0 0 20%;
  }
  .Section_header {
    flex-wrap: wrap;
    width: 60%;
  }
  .Section_header button {
    width: 45%;
    align-self: start;
  }
  .Filters-Btn {
    align-self: flex-end;
  }
}

@media (max-width: 576px) {
  .Header-title {
    font-size: 120%;
  }
  .footer_all {
    margin: auto;
  }
  .Section_header {
    flex-wrap: wrap;
    width: 60%;
  }
  .Section_header button {
    width: 100%;
    align-self: start;
  }
  .card {
    height: 40vh;
  }
  .room-info {
    flex-direction: column;
    gap: 10px;
  }
  .gmap_canvas {
    height: 50vh !important;
  }
  .swiper-slide {
    width: 100% !important;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 2rem !important;
  }
  .swiper-button-next:after {
    padding-right: 2rem !important;
  }
  .swiper-button-prev:after {
    padding-left: 2rem !important;
  }
  .swiper-pagination {
    bottom: -4px !important;
  }
}
