@media (max-width: 576px) {
}
@media (max-width: 768px) {
}
@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 992px) {
  .Header-title {
    font-size: 220%;
  }
}

@media (max-width: 768px) {
  .header_nav {
    display: none;
  }
  .responsive_btn,
  #respCheck {
    display: none;
  }
  .responsive_btn-svg {
    display: block;
  }
  .footer_all {
    flex-direction: column;
    margin: auto 0 0 20%;
  }
}

@media (max-width: 576px) {
  .Header-title {
    font-size: 120%;
  }
  .footer_all {
    margin: auto;
  }
}
